@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

html {
    font-size:2rem;
    font-family: 'Special Elite', cursive;
}

#dynamic-gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(sandybrown, darkgrey);
}

h1 {
    text-align: center;
    letter-spacing: 0.3rem;
    line-height: 2rem;
    position: relative;
}

body {
    text-align: center;
    letter-spacing: 0.1rem;
    background: #ad7373;
}

.profile-container {
    width: 20%;
    padding-top: 20%;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.icon:hover {
    transform: rotateY(180deg);
}

.icon {
    width: 8%;
    height: 8%;
    transition: 1s;
    z-index: 2;
    transform-origin: center center;
}

.default {
    text-decoration: none;
}